<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">上海大众加油机信息系统API</a></p>
        </div>
    </div>
</header>
<div id="body">
    欢迎查看上海大众加油机信息系统API
</div>
